.card__title {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  text-align: start;
  white-space: nowrap;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__description {
  width: 100%;
  color: var(--gray-500);
  font-weight: 400;
  font-size: 16px;
  text-align: start;
  white-space: wrap;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}
